footer {
  background-color: #fff;
}
.columns {
  display: flex;
  justify-content: space-between;
  padding: 1rem 7rem;
  flex-wrap: wrap;
}
.col-footer {
  flex: 0 1 10rem;
  text-align: center;
}
.col-footer img {
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
}
.inline {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.col-footer h3 {
  font-weight: 700;
  padding: 1rem 0;
}
.col-footer p {
  padding: 1rem 0;
}
.footer-liner {
  text-align: center;
}
.social-links svg {
  margin: 1rem;
}
@media (max-width: 600px) {
  .columns {
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .columns {
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
