.btn {
  background-color: var(--blue);
  padding: 1rem 2rem;
  color: var(--white);
  font-family: "Monrope", sans-serif;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: all 0.5s linear;
  font-weight: 600;
  margin-bottom: 1rem;
}
.btn:hover {
  background-color: transparent;
  color: var(--black);
  border: 1px solid var(--black);
  transition: all 0.5s linear;
}
section {
  min-height: 90vh;
  padding: 1rem 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
